// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$primary: #22A1ED;
$dark: #04040C;
$headings-color: #284876;
$card-bg: #FCFCFC;

